/* EventTable.css */
.eventRegUsers{
  margin-top: 90px;
  min-height: 90vh;
  overflow-x: auto;
  padding: 10px;
  background-color:  rgb(243, 239, 239);
}
.eventRegUsers h2{
  text-align: center;
  font-size: 40px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}  
table, th, td {
  border-color: rgb(221 212 212);
}
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: transparent;
  }
  
  tbody tr:nth-child(even) {
    /* background-color: #f9f9f9; */
    color: black;
  }