/* EventTable.css */
.eventRegUsers{
  margin-top: 90px;
  min-height: 90vh;
  overflow-x: auto;
  padding: 10px;
  background-color: #121212;
}
.eventRegUsers h2{
  text-align: center;
  font-size: 40px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}  
table, th, td {
  border: 1px solid black;
}
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: black;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
    color: black;
  }